@model Shelters.Models.ShelterVolunteer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <h4>Shelter volunteer</h4>

<div class="details">
    <div class="details__content">
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.Shelter)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.Shelter.Name)
            </div>
        </div>
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.Volunteer)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.Volunteer.Email)
            </div>
        </div>
    </div>
    </div>

<a asp-action="Index" class="defaultButton">Back</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="defaultButton">Edit</a>