@model IEnumerable<Shelters.Models.ShelterVolunteer>

@{
    ViewData["Title"] = "Index";
}

<h1>Shelter volunteers</h1>

<a asp-action="Create" class="defaultButton mb">Create new</a>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shelter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Shelter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.Email)
            </td>
            <td>
                <div class="info">
                    <span id="setting--button" onclick="InfoMenu(event)">Settings</span>
                    <div class="info__menu">
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>