@model Shelters.Models.Owner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

    <h4>Owner</h4>

<div class="details">
    <div class="details__content">
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.FirstName)
            </div>
        </div>
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.LastName)
            </div>
        </div>
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.Age)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.Age)
            </div>
        </div>
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.Phone)
            </div>
        </div>
        <div class="details__row">
            <div class="details__cell">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="details__cell">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
</div>

<a asp-action="Index" class="defaultButton">Back</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="defaultButton">Edit</a>

<h4>Animals</h4>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Animals.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals.First().Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals.First().Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals.First().Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Animals.First().Shelter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Animals)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Species)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shelter.Name)
                </td>
                <td>
                    <div class="info">
                        <span id="setting--button" onclick="InfoMenu(event)">Settings</span>
                        <div class="info__menu">
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>